{erl_opts, [debug_info,
            {i, "./_build/default/plugins/gpb/include"}]}.

{project_plugins, [{rebar3_gpb_plugin, "1.10.0"},
                   rebar3_run]}.

{deps, [{proper, "1.3.0"}]}.

{relx, [{release, {cuter, {cmd, "scripts/extract_vsn.sh | tr -d '\r\n'"}},
         [cuter]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
{xref_ignores, []}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},

            {lint,  [{plugins, [{rebar3_lint, {git,
"https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}]},

            {docs, [{edoc_opts, [{dir, "./doc/edoc"}]}]},

            {test, [
                    {sys_config, "config/test.sys.config"}
                   ]}]
}.

{shell, [{config, "./config/sys.config"}]}.

{gpb_opts, [
    {i, "src/proto"},
    {module_name_suffix, ""},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
